.about-content {
  position: relative;
  top: 0px;
  left: 0px;
  height: 100%;
}

.about-content h3 {
  text-align: right;
  color: var(--text-white);
  font-weight: 700;
  font-size: 35px;
}

.about-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: top;
  gap: 15px;
  margin-top: 200px;
  height: 100%;
}

.about-text {
  font-size: 20px;
  color: var(--text-white);
  font-weight: 400;
  text-align: right;
  justify-content: center;
  align-items: center;
  max-width: 400px;
}

.video-responsive {
  position: relative;
  width: 350px;
  padding-top: 35.25%;
}

.video-responsive iframe {
  position: absolute;
  top: 45px;
  left: 0px;
  width: 100%;
  height: 80%;
  border-radius: 10px;
}

.contact-content {
  text-align: center;
  color: var(--text-white);
  font-weight: 400;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.contact-content h3 {
  margin-top: 100px;
  text-align: center;
  color: var(--text-white);
  font-weight: 500;
  font-size: 35px;
}
