.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 20px;
  background-color: var(--bg-dark);
  z-index: 1;
  border-bottom: 1.5px solid var(--border-yellow);
  margin-bottom: 30px;
  top: 0;
  width: 100%;
  height: 110px;
  position: fixed;
}

.header-left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.icon-btn {
  background: rgb(247, 227, 153);
  border: 2px solid rgba(255, 255, 0, 0.475);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  transition: background 0.3s ease;
  box-shadow: inset;
  margin-right: 5px;
}

.header-right img {
  width: 140px;
  margin-right: 50px;
}

.profile-icon-button,
.shopping-cart-icon-button {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border-width: 0px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-icon-button .tooltip,
.shopping-cart-icon-button .tooltip {
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 8px;
  padding-bottom: 4px;
  background-color: gray;
  color: var(--text-white);
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  position: absolute;
  bottom: 10px;
}

.profile-icon-button:hover .tooltip,
.shopping-cart-icon-button:hover .tooltip {
  opacity: 1;
  border-radius: 3px;
  transition: opacity 0.3s;
  cursor: pointer;
  background-color: var(--bg-dark);
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer p {
  color: var(--text-white);
}

footer a {
  color: var(--text-white);
}
