.dashboard-container {
  grid-template-columns: 200px 1fr; /* Sidebar width and main content */
}

.main-content {
  padding: 1px;
  margin-top: 160px;
}

.section-title {
  font-size: 25px;
  color: var(--text-dark);
  font-weight: 800;
  text-align: right;
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(110px, 130px));
  gap: 8px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.stats-card {
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  transition: all 0.6s;
  min-width: 110px;
  max-width: 110px;
  justify-content: center;
  align-items: center;
}

.card-icon {
  font-size: 40px;
}

.card-content h3 {
  font-size: 20px;
  color: var(--text-white);
  font-weight: 400;
  margin-bottom: 4px;
  text-align: center;
}

.card-content h3:hover {
  font-size: 20px;
  color: var(--text-yellow);
  font-weight: 400;
  margin-bottom: 4px;
  text-align: center;
}

.card-content p {
  font-size: 20px;
  color: var(--text-yellow);
  font-weight: 400;
  margin-bottom: 7px;
  text-align: center;
}

.stat-number {
  font-size: 28px;
  color: var(--text-dark);
  font-weight: 700;
  margin-bottom: 7px;
}

.circle {
  height: 100px;
  width: 100px;
  border-radius: 100px;
  transition: all 0.4s;
}

.circle:hover {
  border: 2px solid var(--border-yellow);
  border-radius: 100px;
}

.social-media-icons {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.social-media-icons img {
  width: 30px;
  background-color: rgb(233, 214, 37);
  border-radius: 15%;
}

.contact-title h3 {
  text-align: center;
  color: var(--text-white);
  font-weight: 700;
  font-size: 30px;
  height: 10px;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  gap: 5px;
  padding-bottom: 10px;
}
